{% load staticfiles %}
<script type="text/javascript" src="{% static 'bower_components/jquery/jquery-2.2.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/bootstrap-v3.3.6.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery_ui/jquery-ui.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'finderApp/css/bootstrap.min.css' %}" />
<link rel="stylesheet/less" type="text/css" href="{% static 'finderApp/css/main.less' %}" />
<script type="text/javascript" src="{% static 'bower_components/less/less.min.js' %}"></script>

<script type="text/javascript">
  var login_err = "{{login_err}}";
  if (login_err != "")
    alert(login_err);
</script>

<body>
<!-- Navbar -->
<nav class="navbar navbar-default" id="generalnavbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/finder/">DishFinder</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/finder/">Home</a></li>
        {% if is_auth %}
          <li><a href="/finder/logout/">Log Out</a></p>
          <!-- actions user can do -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions<b class="caret"></b></a>
            <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
              <li>
                <a href="/finder/add_recipe/">Add Recipe</a>
              </li>
            </ul>
          </li>
        {% else %}
        <!--Sign In dropdown-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In <b class="caret"></b></a>
          <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
              <li>
                <div class="row">
                  <div class="col-md-12">
                    <form class="form" role="form" method="post" accept-charset="UTF-8" id="login-nav">
                      {% csrf_token %}
                      <div class="form-group">
                         <label class="sr-only" for="exampleInputEmail2">Email address</label>
                         <input type="text" class="form-control" name="username" placeholder="Username" required/>
                         <!-- <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required> -->
                      </div>
                      <div class="form-group">
                         <label class="sr-only" for="exampleInputPassword2">Password</label>
                         <input type="password" class="form-control" name="password" placeholder="Password" required/>
                         <!-- <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required> -->
                      </div>
                      <div class="checkbox">
                         <label class="bg-5">
                         <input type="checkbox"> Remember me
                         </label>
                      </div>
                      <div class="form-group">
                         <button type="submit" class="btn btn-block orangebutton" value="login" name="login">Sign in</button>
                      </div>
                    </form>
                  </div>
                </div>
              </li>
          </ul>      
        </li>
        <li><a href="/finder/signup/">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

{% block content %}
{% endblock content %}
</body>


<!-- Footer -->
<footer class="container-fluid text-center" id="myfooter">
  
</footer>