{% load staticfiles %}
<script type="text/javascript" src="{% static 'bower_components/jquery/jquery.min.js' %}"></script>
<link rel="stylesheet/less" type="text/css" href="{% static 'finderApp/css/main.less' %}" />
<script type="text/javascript" src="{% static 'bower_components/less/less.min.js' %}"></script>

<script type="text/javascript">
	var ingredient_list = [];
	function add_ingredient() {
		var new_ingredient = $("#ingredient_finder_input").val();
		if (new_ingredient != "") {
			ingredient_list.push(new_ingredient);	
			$("#ingredient_finder_input").val("");

			// debugging
			console.log(ingredient_list);

			var new_ingredient_tag = $(document.createElement("button"));
			var tag_text = $(document.createTextNode(new_ingredient));
			new_ingredient_tag.append(tag_text);
			$("#added_ingredients").append(new_ingredient_tag);

		} else {
			console.log("empty input");
		}
	}

	// pass ingredient array to search page for recipe results
	function search_recipe() {
		var hidden_input = $(document.createElement("input"));
	    hidden_input.attr("type", "text");
	    hidden_input.attr("name", "ingredient_list");
	    hidden_input.attr("value", JSON.stringify(ingredient_list));

		$("#search_recipe_form").append(hidden_input);
		$("#search_recipe_form").submit();
		// $.ajax({
		// 	type: "POST",
		// 	url: "/finder/search/",
		// 	data: {
		// 		ingredient_list: JSON.stringify(ingredient_list),
		// 		csrfmiddlewaretoken: '{{ csrf_token }}'  // token for ajax cross domain security
		// 	},
		// 	dataType: "application/json",
		// 	success: function(){
		// 		console.log("success");
		// 	}
		// });
	}
</script>

<p>You are at ingredient page.</p>
<a href="{% url 'recipe' 1%}">direct to recipe page</a>

<!-- search bar to add ingredients-->
<div id="ingredient_finder">
	<input type="text" name="input_ingedient" id="ingredient_finder_input">
	<button id="ingredient_finder_add_button" onclick="add_ingredient()">Add</button>
</div>

<!-- display added ingredients -->
<div id="added_ingredients">
</div>

<!-- submit ingredient query and direct to search_result page -->
<!-- <button id="search_recipe" onclick="search_recipe()">submit</button> -->

<form id="search_recipe_form" action="/finder/search/" method="get">
	<input type="button" onclick="search_recipe()" value="submit">
</form>

{% if ingredient_list %}
	{% for ingredient in ingredient_list %}
		<div>
		<input type="radio" name="ingredient" id="ingredient{{ forloop.counter }}" value="{{ ingredient.id }}" />
		<label for="choice{{ forloop.counter }}">{{ingredient.ingredient_name}}</label>
		<image src="{{ingredient.picture_url}}"></image>
		</div>
	{% endfor %}
{% else %}
	<p>No ingredients available yet.</p>
{% endif %}