<script type="text/javascript">
	var ingredient_list = [];
	function add_ingredient() {
		var new_ingredient = $("#ingredient_finder_input").val();
		if (new_ingredient != "") {
			ingredient_list.push(new_ingredient);	
			$("#ingredient_finder_input").val("");

			// debugging
			console.log(ingredient_list);

			var new_ingredient_tag = $(document.createElement("button"));
			var tag_text = $(document.createTextNode(new_ingredient));
			new_ingredient_tag.append(tag_text);
			$("#added_ingredients").append(new_ingredient_tag);

		} else {
			console.log("empty input");
		}
	}

	// pass ingredient array to search page for recipe results
	function search_recipe() {
		var hidden_input = $(document.createElement("input"));
	    hidden_input.attr("type", "hidden");
	    hidden_input.attr("name", "ingredient_list");
	    hidden_input.attr("value", JSON.stringify(ingredient_list));

		$("#search_recipe_form").append(hidden_input);
		$("#search_recipe_form").submit();
	}
</script>


{% extends "finderApp/base.html" %}

{% block content %}

<!-- First Container -->
<div class="container-fluid text-center" id="mysearchbar">
  <h1 class="margin">What do you have in your fridge?</h1>

  	<!-- search bar to add ingredients-->
	<div id="ingredient_finder">
		<input type="text" name="input_ingedient" id="ingredient_finder_input">
		<button id="ingredient_finder_add_button" class="btn btn-danger" onclick="add_ingredient()">Add</button>
	</div>

	<!-- display added ingredients -->
	<div id="added_ingredients">
	</div>

	<!-- submit ingredient query and direct to search_result page -->
	<form id="search_recipe_form" action="/finder/search/" method="get">
		<div class="btn btn-success btn-lg">
			<!-- <span class="glyphicon glyphicon-search"></span> -->
			<input id="search_recipe_button" type="button" onclick="search_recipe()" value="Search">
		</div>
	</form>
</div>

<!-- Second Container -->
<div class="container-fluid" id="instructionthing">
  <!--title-->
  <h1><span>How does it work?</span></h1>
  <div class="container">
    <!--instruction-->
    <div class="row">

      <div class="col-sm-4">
        <div class="panel panel-default text-center instrcutpanel" id="instructpanel1">
          <div class="panel-heading">
            <h2 class="text-left">Step 1</h2>
          </div>
          <div class="panel-body">
            <h3>Fill in your<br>ingredients</h3>      
          </div>
        </div> 
      </div> 

      <div class="col-sm-4">
        <div class="panel panel-default text-center instructpanel" id="instructpanel2">
          <div class="panel-heading">
            <h2 class="text-left">Step 2</h2>
          </div>
          <div class="panel-body">
            <h3>Select<br>a tasty dish</h3>
          </div>
        </div> 
      </div> 

      <div class="col-sm-4">
        <div class="panel panel-default text-center instructpanel" id="instructpanel3">
          <div class="panel-heading">
            <h2 class="text-left">Step 3</h2>
          </div>
          <div class="panel-body">
            <h3>Follow recipe<br>and Enjoy!</h3>
          </div>
        </div> 
      </div> 

    </div>
  </div>
</div>  

{% endblock content %}