{% load staticfiles %}
<script type="text/javascript" src="{% static 'bower_components/jquery/jquery.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'finderApp/main.less' %}" />
<script type="text/javascript" src="{% static 'bower_components/less/less.min.js' %}"></script>

<p>You are at ingredient page.</p>
<a href="{% url 'recipe' 1%}">direct to recipe page</a>

{% if ingredient_list %}
	{% for ingredient in ingredient_list %}
		<div>
		<input type="radio" name="ingredient" id="ingredient{{ forloop.counter }}" value="{{ ingredient.id }}" />
		<label for="choice{{ forloop.counter }}">{{ingredient.ingredient_name}}</label>
		<image src="{{ingredient.picture_url}}"></image>
		</div>
	{% endfor %}
{% else %}
	<p>No ingredients available yet.</p>
{% endif %}