{% extends "finderApp/base.html" %}

{% block content %}


<div class="container-fluid" id="recipebgtheme">
  <div class="wrapper">
    <div class="btn-group">
      <a href="recipelist.html" class="btn btn-default" role="button">Back to search result</a>
      <a href="#" class="btn btn-info" role="button">Next recipe</a>
      <a href="#" class="btn btn-danger" role="button">Previous recipe</a>
    </div>
  </div> 

  <div class="container" id="recipebg">
    <br><br>
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <h1>{{ recipe.name }}</h1>
      </div>
      <div class="panel-body" id="recipeingredients">
        <img src="{{ recipe.image }}" class="img-rounded" alt="foodpic" width="304" height="236">
        <h2>Ingredients:</h3>
        {% for ingredient in recipe.contained_ingredients.all %}
          <p>{{ ingredient }}</p>
        {% endfor %}
      </div>

      <div class="panel-footer">
        <h2>Direction:</h2>
        {% for direction in recipe.directions.all %}
          <p>{{ direction }}</p>
        {% endfor %}

        <button class="btn btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Like</button>
      </div>
    </div> 
  </div>

  <div class="container" id="mealsuggestion">
    <div class="col-md-12">
    <h2>Full meal suggestion:</h2>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#appdish">Appertizer</a></li>
      <li><a data-toggle="tab" href="#mysoup">Soup</a></li>
      <li><a data-toggle="tab" href="#mysalad">Salad</a></li>
      <li><a data-toggle="tab" href="#sdish">Side Dish</a></li>
      <li><a data-toggle="tab" href="#mdish">Main Dish</a></li>
      <li><a data-toggle="tab" href="#mydessert">Dessert</a></li>
    </ul>

    <div class="tab-content">
      <div id="appdish" class="tab-pane fade in active">
        <div class="mybox">
          <img src="image/slow_roast_shoulder_lamb_92930_16x9.jpg" class="img-rounded" alt="foodpic" width="200" height="150">
          <p>Name Of Dish</p>
        </div>
      </div>
    </div>

  </div>  
  
</div>

{% endblock content %}