{% extends "finderApp/base.html" %}

{% block content %}


<div class="container-fluid" id="recipebgtheme">
  <div class="wrapper">
    <div class="btn-group">
      <a href="recipelist.html" class="btn btn-default" role="button">Back to search result</a>
      <a href="#" class="btn btn-info" role="button">Next recipe</a>
      <a href="#" class="btn btn-danger" role="button">Previous recipe</a>
    </div>
  </div> 

  <div class="container" id="recipebg">
    <br><br>
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <h1>{{ recipe.name }}</h1>
      </div>
      <div class="panel-body" id="recipeingredients">
        <img src="{{ recipe.image }}" class="img-rounded" alt="foodpic" width="304" height="236">
        <h2>Ingredients:</h3>
        {% for ingredient in recipe.contained_ingredients.all %}
          <p>{{ ingredient }}</p>
        {% endfor %}
      </div>

      <div class="panel-footer">
        <h2>Direction:</h2>
        {% for direction in recipe.directions.all %}
          <p>{{ direction }}</p>
        {% endfor %}

        <button class="btn btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Like</button>
      </div>
    </div> 
  </div>

{% if display_meal %}
  <div class="container" id="mealsuggestion">
    <div class="col-md-12">
      <h2>Full meal suggestion:</h2>
      <ul class="nav nav-tabs">
        {% for meal in meal_suggestion %}
          <li><a data-toggle="tab" href="#{{ meal.cat_name }}">{{ meal.cat_name }}</a></li>
        {% endfor %}
      </ul>

      <div class="tab-content">
        {% for meal in meal_suggestion %}
          <div id="{{ meal.cat_name }}" class="tab-pane fade in active suggest_meal_wrapper">
            {% for suggested_recipe in meal.recipes %}
            <div class="mybox">
              <img src="{{ suggested_recipe.image }}" class="img-rounded" alt="foodpic" width="200" height="150">
              <p>{{ suggested_recipe.name }}</p>
            </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>  
  </div>
{% endif %}

{% endblock content %}